body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #007bff;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="date"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

table {
    max-width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #bebaba;
}

button.edit-btn {
    color: #28a745;
    margin-right: 10px;
}

button.delete-btn {
   color: #dc3545;
}

.buttons{
    display: flex;
    flex-direction: row;
}
